body,
h1,
h3 {
  text-align: center;
}
.container{
    margin: auto;
    text-align: center;
    border: 2px solid black;
    display: inline-block;
    margin-top: 9%;
    padding: 18px;
}
.otp {
  border: 1px solid rgb(201, 201, 250) ;
  height: 95px;
  width: 70px;
  padding: 5px;
  text-align: center;
  font-size: 30px;
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: uppercase;
  border-radius: 8px;
}
.otp-active{
  border: 2px solid rgb(11, 201, 244) ;
  height: 90px;
  width: 70px;
  padding: 5px;
  text-align: center;
  font-size: 30px;
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 8px;
  text-transform: uppercase;
}
.otp-fillit{
    border: 5px solid rgb(86, 218, 248) ;
    box-shadow: 0px 4px rgb(136, 135, 135);
    height: 90px;
    width: 70px;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    text-transform: uppercase;
}

input{
    margin: 0px;
    height: 100%;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 60px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

.word {
  display: flex;
  justify-content: center;
  margin-top: 40px;
   margin-bottom: 30px;
}

h1 {
  text-align: center;
}
.msg{
    display: inline-block;
    background-color: rgb(189, 186, 186);
    color: rgb(71, 68, 68);
    padding: 5px 10px;
    margin-top: 8px;
    border-radius: 5px;
}

